body {
  background-image: url(assets/background.jpg);
}

.login-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.absolute-vertical-center {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.login-box {
  background-color: #ffffffe6;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(10 10 10 / 10%), 0 0 0 0px rgb(10 10 10 / 10%);
  padding: 1.5rem;
}

#input-text {
  border-radius: 200px !important;
}